.dropdown {
    font-size: 15px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 2em;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 10px;
}

.dropdown select {
    width: 200px;
    text-align: center;
    font-size: 10px;
}