.form {
    font-size: 1em;
    box-sizing: border-box;
    display: flex;
    padding: 10%;
    width: 100%;
    padding: 0.8rem;
    align-items: center;
    justify-content: flex-start;
    height: 4em;
}

select {
    width: 10em;
    margin: 10px;
    text-align: center;
}