.home {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("./moving-box.jpg");
    background-size: cover;
    /* filter: brightness(0.8); */
    border-radius: 0;
    overflow: hidden;
}
.buttons-home {
    border: 0;
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.title-home {
    text-align: center;
    font-size: 50px;
    color: white;
    width: auto;
    height: auto;
}


@media (max-width: 725px) {
    .home {
        background-image: none;
    }

     .buttons-home {
        width: 100%;
        margin-bottom: 25%;
    }

    .title-home {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .buttons-home {
        height: 15vh;
    }
}