.radio-btn {
    width: auto;
    padding: 1em;
    color: white;
    border-radius: 20px;
    height: 2em;
    display: flex;
    align-items: center;
    margin-right: 1em;
    font-size: 13px;
}

.radio-btn label {
    background-color: #1aa5ff;
}

.radio-btn input {
    display: none;
}

input:checked + label {
    background-color: blueviolet;
}