.navbar_nomadi {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    padding-bottom: 0.5em;
    top: 0;
    left: 0;
    width: 100vw;
    background-color:  #048e99;
    list-style: none;
}

.navbar_nomadi h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
}

.navbar_nomadi h2 span {
    color: #1aa5ff;
}
