.select-items {
    margin: 90px auto 30px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.select-items h2 {
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.list-items {
    margin: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9e9e9;
    padding: 1em;
    justify-content: space-around;
}

.list-items h3 {
    font-weight: bold;
    color: #3a3939;
    font-size: 15px;
}

.list-items li {
    text-align: left;
    font-weight: normal;
    margin-top: 1em;
    margin-left: -30px;
}

.choose-items {
    margin: 1em;
}

.choose-items h4 {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.choose-items__labels {
    width: 100%;
}

.select-items__btn {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.count-items {
    font-size: 8pt;
    position: relative;
    left: 33%;
}

@media (min-width: 725px) {
    .select-items {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
    }
    
    .select-items h2 {
        position: absolute;
        left: 40%;
    }

    .search-items {
        position: absolute;
        top: 20%;
        left: 10%;
    }

    .choose-items {
        position: absolute;
        right: 60%;
        top: 30%;
        left: 10%;
    }

    .list-items {
        position: absolute;
        left: 55%;
        top: 20%;
        height: 25em;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    .count-items {
        left: 25%;
    }
}