#component-button-next {
    background-color: #4cd1a0;
    color: #fff;
    font-size: 20px;
    justify-content: center;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
}

#component-button-next:hover {
    background-color: #1aa5ff;
}